@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#e38528;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #fcf2e8;
    padding-left: 30rem;
}

section{
    padding:1rem 5%;
    min-height: 100vh;
}

.projects{
    padding:1rem 5%;
    min-height: 100vh;
}

.background-pic-container{
    height: 100%;
    width: 100%;
}

.background-pic-container .box{
    position: relative;
}

.background-pic-container .box img{
    width: 100%;
    opacity: 0.85;
    z-index: -1;
    overflow:hidden;
}

.background-pic-container .box .content-box{
    position: absolute;
    z-index: 1;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color:#111;
    text-transform: uppercase;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.sub-heading{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color:#111;
    text-transform: uppercase;
}

.sub-heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--main-color);
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top:0; left:0; bottom:0;
    background:#222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem;
    text-align: center;
}

header .background-pic-container{
    display: block;
}

header .background-pic-container .background-pic{
    display: block;
    width: 100%;
}



header .logo{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    font-weight: bolder;
}
header .info{
    font-size: 1.7rem;
    color:#666;
    padding:.5rem 0;
}
header .logo span{
    text-transform: uppercase;
    color:var(--main-color);
}

header .navbar{
    display: block;
    position: absolute;
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;
    top: 47%;
    transform: translate(0, -50%);
}


header .navbar a{
    display: block;
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}


header .follow{
    position: absolute;
    bottom:7rem;
    transform: translate(50%, 0);
    right:50%;
}

header .follow .reminder{
    display: inline-block;
    text-align: center;
}
/*
header .follow .reminder{
    display: inline-block;
    text-align: center;
}*/
header .follow .reminder h3{
    font-size: 1rem;
    color:#222;
    margin-bottom:0.2rem;
    z-index: -1;
}
header .follow .reminder:hover h3{
    font-size: 1.5rem;
    color:#fff;
    margin-bottom:0.7rem;
    z-index: 2;
}

header .follow .reminder a{
    font-size: 2.5rem;
    color:#fff;
}

header .follow .reminder a:hover{
    color:var(--main-color);
}

header .follow a{
    font-size: 2.5rem;
    color:#fff;
    margin:0 .7rem;
}

header .follow a:hover{
    color:var(--main-color);
}

#menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background:var(--main-color);
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
}

.cursor-1{
    position: absolute;
    top:0; left:0;
    height:1rem; width:1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height:7rem;
    width:7rem;
    opacity: .3;
}

.cursor-2{
    position: absolute;
    top:0; left:0;
    height:4rem; width:4rem;
    border:.1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active{
    display: none;
}

.experience .box-container{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}

.experience .box-container .box{
    position: relative;
    flex:1 1 10rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;    
}

.experience .box-container .box::before{
    content: '';
    position: absolute;
    top:0; left:-1rem;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background:var(--main-color);
}

.experience .box-container .box .content{
    background:#fff;
    padding:1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.experience .box-container .box .content span{
    color:#fff;
    font-size: 1.7rem;
    background:var(--main-color);
    border-radius: 50rem;
    padding:.4rem 1rem;
}

.experience .box-container .box .content h3{
    font-size: 2.5rem;
    padding:.5rem 0;
    color:#111;
}

.experience .box-container .box .content p{
    font-size: 1.5rem;
    color:#666;
}

.projects .re-pro-box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-bottom: 3rem;
}

.projects .re-pro-box-container .box{
    flex:1 1 35rem;
    height:35rem;
    position: relative;
    overflow: hidden;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    border-radius: .5rem;
}
.projects .re-pro-box-container .box:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.507);
}
.projects .re-pro-box-container .box .box-img{
    height:20rem;
}
.projects .re-pro-box-container .box .box-img img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}
.projects .re-pro-box-container .box .box-img:hover img{
    height:120%;
    width: 120%;
}

.projects .re-pro-box-container .box img{
    height:75%;
    width:75%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.projects .re-pro-box-container .box:hover img{
    height:75%;
    width:75%;
}

.projects .re-pro-box-container .box h3{
    position: absolute;
    bottom:.5rem; left:1rem;
    font-size: 2rem;
    color:#333;
}

.projects .re-pro-box-container .box .icons{
    position: absolute;
    top:0rem; right:1rem;
}

.projects .re-pro-box-container .box .icons a{
    display: block;
    height:4rem;
    width:4rem;
    border-radius: .5rem;
    background: #eee;
    color:#333;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}



.projects .re-pro-box-container .box .icons a:hover{
    background:var(--main-color);
    color:#fff;
}


.projects .fun-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-bottom: 3rem;
    flex-direction: column;
}

.projects .fun-container .box{
    flex:1 1 15rem;
    height:8rem;
    position: relative;
    overflow: hidden;
    border:1rem solid #fff;
    /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);*/
    background:#fff;
    border-radius: .5rem;
}

.projects .fun-container .box img{
    width: 14rem;
    height:100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
    margin-right: 2rem;
}

.projects .fun-container .box:hover img{
    
}

.projects .fun-container .box h3{
    position: absolute;
    z-index: 1;
    top: 0rem;
    left: 16rem;
    font-size: 1.5rem;
    color:#333;
}

.projects .fun-container .box h3 span{
    font-size: 1.2rem;
    font-weight: normal;
    color:#333;
    word-wrap: break-word;
    word-break: keep-all;
}
.projects .fun-container .box p{
    position: absolute;
    top: 2.5rem;
    left: 16rem;
    font-size: 1.5rem;
    color:#333;
    word-wrap: break-word;
    word-break: keep-all;
}

.projects .fun-container .box .icons{
    position: absolute;
    bottom:0rem; right:1rem;
    z-index: 10;
}

.projects .fun-container .box .icons a{
    display: inline-block;
    height:3rem;
    width:3rem;
    border-radius: .5rem;
    background: #eee;
    color:#333;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 0rem;
}

.projects .fun-container .box .icons a:hover{
    background:var(--main-color);
    color:#fff;
}

.projects .project-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.projects .project-container .box{
    flex:1 1 40rem;
    min-height: 30rem;
    max-height: 35rem;
    position: relative;
    overflow:hidden;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    border-radius: .5rem;
}

.projects .project-container .box .three{
    border-radius: .5rem;
    overflow: auto;
    z-index: 1;
}
.projects .project-container .box .three:hover{

}

.projects .project-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.projects .project-container .box:hover img{
    height:85%;
    width:85%;
}

.projects .project-container .box h3{
    position: absolute;
    bottom:.5rem; left:1rem;
    font-size: 2rem;
    color:#333;
}

.projects .project-container .box .icons{
    position: absolute;
    top:1rem; right:1rem;
    z-index: 2;
}

.projects .project-container .box .icons a{
    display: block;
    height:4rem;
    width:4rem;
    border-radius: .5rem;
    background: #eee;
    color:#333;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.projects .project-container .box .icons a:hover{
    background:var(--main-color);
    color:#fff;
}


.projects .project-container .box-abstract{
    flex:1 1 40rem;
    position: relative;

}

.projects .project-container .box-abstract .text
{
    font-size: 2rem;
    padding-bottom: 1rem;
    color:#333;
}

.projects .project-container .box-abstract .text span
{
    font-size: 2rem;
    padding-bottom: 1rem;
    color:rgb(126, 126, 126);
}


.background-pic-container .box .content-box .content{
    text-transform: uppercase;
    color:#fff;
    font-size: 5vw;
    font-weight: bolder;
    text-align: center;
}


.projects .video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.projects .video-container .box{
    margin-top: 2rem;
    position: relative;
    overflow:hidden;
}

.projects .video-container .box video{
    height: 40rem;
}

.projects .text-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.projects .text-container .box{
    margin-top: 2rem;
    flex:1 1 30rem;
    position: relative;
    overflow:hidden;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    border-radius: .5rem;
}

.projects .project-container .project-subtitle
{
    margin-top: 1rem;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color:var(--main-color);
    text-transform: uppercase;
}

.projects .project-subtitle
{
    margin-top: 1rem;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color:var(--main-color);
    text-transform: uppercase;
}
.projects .project-section 
{
    margin-top: 1rem;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color:#333;
    text-transform: uppercase;
}
.projects .project-section span
{
    margin-top: 1rem;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color:rgb(126, 126, 126);
    text-transform: uppercase;
}
.projects .project-subsection
{
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 1rem;
    color:rgb(126, 126, 126);
}
.projects .text
{
    font-size: 2rem;
    padding-bottom: 1rem;
    color:#333;
}

.projects .text span
{
    font-size: 2rem;
    padding-bottom: 1rem;
    color:rgb(126, 126, 126);
}
.projects .content
{
    font-size: 1.7rem;
    font-weight: normal;
    padding-bottom: 1rem;
    color:#333;
}

.projects .EXP-IMG{
    width: 100%;
    max-width: 100rem;
}


.footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding:2.5rem;
    text-align: center;
    color:#666;
    background: #fff;
}

.footer span{
    color:var(--main-color);
}


















/* media queries  */
@media (min-width:1440px){


    .experience .box-container .box{
        padding-right: 0;
    }

    section{
        padding:1rem 15%;
        min-height: 100vh;
    }
    
    .projects{
        padding:1rem 15%;
        min-height: 100vh;
    }
    
}
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
    }

    header{
        left:-120%;
    }

    header.active{
        left:0%;
    }

    .cursor-1,
    .cursor-2{
        display: none;
    }

    /* .projects .fun-container .box .icons{
        bottom:0.5rem; left:0.5rem;
    } */
    .projects .fun-container .box h3 span{
        display: none;
        /* line-height: 1; */
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    header{
        width:100%;
    }

    .experience .box-container .box{
        padding-right: 0;
    }
}